@charset "utf-8";
/* CSS Document */
body
{
	background-color:black;
	margin:0px;
}

@font-face
{
	font-family:'open-sans';
	src:url(../font/OpenSans-Regular.ttf);
}
#wrapper
{
	    background-color:white;
		width:100%;
		height:1000px;
	    /*margin:0px 50px 50px 100px;*/
}

#wrapper #header
{	
	border:thin solid black;
	background-color: #333333;
	height:70px;
	width:100%;
	margin-top:0px;	
}

#wrapper #header #logo
{
	float:left;
	width:200px;
	height:50px;
	margin-left:60px;
	margin-top:15px;
	font-family:'open-sans';
	font-size:1.5em;
	color:#888888;
	
}

#wrapper #header #logo img
{
	margin-top: 10px;
}

#wrapper #header #logo span
{
	float:right;
	padding-right: 60px; 
	padding-top: 4px;
	
}
/*
#wrapper #header .menu
{
	width:70px;
	height:70px;
	/*border:thin solid white;
	float:right;
	font-family:'open-sans';
	font-size:0.9em;
	color:#888888;
	cursor:pointer;
}

#wrapper #header .menu:hover
{
	background-color:#598990;
	color:white;
	
}*/

#header #menu
{
	/*border:thin solid white;*/
	float:right;
	list-style-type:none;
	font-family:'open-sans';
	font-size:0.95em;
	color:#888888;
	/*cursor:pointer;*/
	margin:0px;
	height: 50px; width: 400px; 
	padding-top:20px;
	padding-left:0px;
}

#header #menu .menu-option
{
	display:inline;
	width: 40px; height: 40px; 
	cursor:pointer;
	padding:20px 25px 30px 20px;
}
 
#header #menu li:hover
{
	background-color:#598990;
	color:white;
}


#wrapper #instructions
{
	/*border :thin solid red;*/
	margin-top: 200px; margin-left: 300px;
	width:50%;
	height:45%;	
}

#wrapper #instructions fieldset
{
	height: 420px; 
	padding-left:15px; padding-right:15px; 
	font-family: 'open-sans';
}
#wrapper #instructions fieldset legend
{
   padding-left:20px; padding-right:20px;
   color: #43a5b4;
   font-size:1.1em;
}

#wrapper #instructions fieldset ul
{
	font-size:0.95em;
	list-style-type:circle;
	color:#7f7f7f;
}

#wrapper #instructions fieldset ul li
{
	padding-top:20px;
	padding-bottom:20px;
}
#wrapper #instructions fieldset #start_test
{
	width:150px;
	height:30px;
	float:right;
	margin-top:20px;
	margin-right:12px;
	background-color:#43a5b4;
	border:thin solid #43a5b4;
	color:white;
	font-family:'open-sans';
	font-size:0.95em;
}

/*#wrapper #footer
{
	/*border:thin solid green;*/
	/*border: thin solid #008000;
    height: 50px;
	width:100%;
    margin-top: 265px;
}

#wrapper #footer span
{
	font-family:'open-sans';
	color:#7f7f7f;
	margin-left: 550px;	
}
*/
